In [3]:
import pandas as pd

fandango = pd.read_csv("fandango_score_comparison.csv")

fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

In [7]:
fandango = pd.read_csv('fandango_score_comparison.csv')

series_film = fandango['FILM']

series_rt = fandango['RottenTomatoes']

series_rt.head(2)

0    74
1    85
Name: RottenTomatoes, dtype: int64

### Pandas Series creation
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html#pandas.Series

In [8]:
from pandas import Series

film_names = series_film.values
rt_scores = series_rt.values

series_custom = Series(data=rt_scores, index=film_names)

series_custom.head(2)

Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
dtype: int64

In [9]:
series_custom["Cinderella (2015)"]

85

In [11]:
series_custom[['Minions (2015)', 'Leviathan (2014)']]

fiveten = series_custom[5:10]

fiveten

The Water Diviner (2015)        63
Irrational Man (2015)           42
Top Five (2014)                 86
Shaun the Sheep Movie (2015)    99
Love & Mercy (2015)             89
dtype: int64

### Reindexing on Series
http://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.Series.reindex.html

In [13]:
original_index = series_custom.index

print(series_custom["'71 (2015)"])

sorted_by_index = series_custom.reindex(index=sorted(original_index))

sorted_by_index.head(10)

97

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

In [17]:
sc2 = series_custom.sort_index()
print("sort_index")
sc2.head(10)

sort_index

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

In [16]:
sc3 = series_custom.sort_values()
print("Sort_values")
sc3.head(10)

Sort_values

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

In [19]:
series_normalized = series_custom / 20
series_normalized.head(10)

Avengers: Age of Ultron (2015)    3.70
Cinderella (2015)                 4.25
Ant-Man (2015)                    4.00
Do You Believe? (2015)            0.90
Hot Tub Time Machine 2 (2015)     0.70
The Water Diviner (2015)          3.15
Irrational Man (2015)             2.10
Top Five (2014)                   4.30
Shaun the Sheep Movie (2015)      4.95
Love & Mercy (2015)               4.45
dtype: float64

In [20]:
criteria_one = series_custom > 50
criteria_two = series_custom < 75

both_criteria = series_custom[criteria_one & criteria_two]

both_criteria.head(10)

Avengers: Age of Ultron (2015)    74
The Water Diviner (2015)          63
Unbroken (2014)                   51
Southpaw (2015)                   59
Insidious: Chapter 3 (2015)       59
The Man From U.N.C.L.E. (2015)    68
Run All Night (2015)              60
5 Flights Up (2015)               52
Welcome to Me (2015)              71
Saint Laurent (2015)              51
dtype: int64

In [21]:
rt_critics = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_users = Series(fandango['RottenTomatoes_User'].values, index=fandango['FILM'])

rt_mean = (rt_critics + rt_users) /  2

print(rt_critics.head(2))
print(rt_users.head(2))
rt_mean.head(2)

FILM
Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
dtype: int64
FILM
Avengers: Age of Ultron (2015)    86
Cinderella (2015)                 80
dtype: int64

FILM
Avengers: Age of Ultron (2015)    80.0
Cinderella (2015)                 82.5
dtype: float64