In [61]:
f = open("US_births_1994-2003_CDC_NCHS.csv", 'r')
lines = f.read().split('\n')
lines[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

In [30]:
def read_csv(file_name):
    file = open(file_name, 'r').read()
    lines = file.split('\n')
    data = []
    for l in lines[1:len(lines)-1]:
        d = list(map(lambda x: int(x), l.split(",")))
        data.append(d)
    return data

data = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [50]:
def count_births_column(data, index):
    count = {}
    for d in data:
        col_value = d[index]
        if not col_value in count:
            count[col_value] = 0
        count[col_value] = count[col_value] + d[4]
    return count
                    
count_month = count_births_column(data, 1)
count_month

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3289486}

In [49]:
count_day_of_week = count_births_column(data, 3)
count_day_of_week

{1: 5789166,
 2: 6446196,
 3: 6310481,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [37]:
cdc_year_births = count_births_column(data, 0)
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4077576}

In [38]:
cdc_dom_births = count_births_column(data, 2)

In [44]:

def find_max(dictionary):
    max_value = list(dictionary.values())[0]
    max_key = list(dictionary.keys())[0]
    for k, v in dictionary.items():
        if v > max_value:
            max_value = v
            max_key = k
    return max_key

max_key = find_max(cdc_year_births)
max_key

2003

In [48]:
import collections
def increase_order(dictionary):
    sorted_dict = collections.OrderedDict(sorted(dictionary.items()))
    temp_value = list(sorted_dict.values())[0]
    for k, v in sorted_dict.items():
        sorted_dict[k] = v - temp_value
        temp_value = v
        
    return sorted_dict
    
increase_order(cdc_year_births)

OrderedDict([(1994, 0),
             (1995, -53178),
             (1996, -8095),
             (1997, -10600),
             (1998, 60659),
             (1999, 17864),
             (2000, 99397),
             (2001, -32881),
             (2002, -4207),
             (2003, 55850)])

In [51]:
increase_order(count_month)

OrderedDict([(1, 0),
             (2, -214377),
             (3, 303929),
             (4, -136755),
             (5, 165593),
             (6, -54377),
             (7, 202253),
             (8, 27075),
             (9, -86160),
             (10, -60884),
             (11, -207167),
             (12, 117839)])

In [52]:
count_month

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3289486}

In [58]:
def count_by_over_years(data, _value, index):
    dow_over_year = {}
    for d in data:
        year = d[0] 
        births = d[4]
        value = d[index]
        
        if not year in dow_over_year:
            dow_over_year[year] = 0
        if value == _value:
            dow_over_year[year] = dow_over_year[year] + births
        
    return dow_over_year

count_by_over_years(data, 1, 1)

{1994: 320705,
 1995: 316013,
 1996: 314283,
 1997: 317211,
 1998: 319340,
 1999: 319182,
 2000: 330108,
 2001: 335198,
 2002: 330674,
 2003: 329803}

In [59]:
count_by_over_years(data, 2, 1)

{1994: 301327,
 1995: 295094,
 1996: 301763,
 1997: 291541,
 1998: 298711,
 1999: 297568,
 2000: 317377,
 2001: 303534,
 2002: 303977,
 2003: 307248}

In [63]:
# Count of births by year: from index = 1 (month) for value = 3 (March)
count_by_over_years(data, _value = 3, index = 1)

{1994: 339736,
 1995: 328503,
 1996: 322581,
 1997: 321212,
 1998: 329436,
 1999: 332939,
 2000: 340553,
 2001: 338684,
 2002: 331505,
 2003: 336920}

In [62]:
# Count of births by year: from index = 3 (day_of_week) for value = 1 o first day of week
count_by_over_years(data, 1, 3)

{1994: 568672,
 1995: 557396,
 1996: 569343,
 1997: 564782,
 1998: 571822,
 1999: 572958,
 2000: 585312,
 2001: 593186,
 2002: 595554,
 2003: 610141}